NEXT_PUBLIC_APP_URL=http://localhost:3000
MSSQL_CONNECTION_STRING=
MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=pos_coffee
MSSQL_USER=sa
MSSQL_PASSWORD=
MSSQL_ENCRYPT=false
MSSQL_TRUST_SERVER_CERTIFICATE=true
MSSQL_POOL_MAX=10
